.container {
  margin: 5%;
}

#img-select {
  border-style: dashed;
}

div#img-select > div {
  padding-top: 4%;
  padding-bottom: 1%;
}

.empty {
  background-color: rgb(242, 242, 242);
  border-color: rgb(204, 204, 204);
}

.full {
    background-color: rgb(179, 179, 179);
    border-color: rgb(128, 128, 128);
}

.error {
  color: red;
}
